.custom-header-background{
    background-color: #264653;
}
.custom-button{
    color: white;
    background-color:#E76F51;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
}
.custom-header-img-size{
    width:552px;
    height:447px;
}
.custom-text-color{
    color:#E76F51;
}
.custom-featured-bike-size{
    width:288px;
    height:243px;
}
.custom-card-size{
    width:323px;
}
.fa-star{
    font-size: 16px;
}
.fa-star.filled{
    color:#E76F51;
}
.empty{
    color:#E76F51;
} 
.custom-sm-blue-text{
    font-weight:bold;
    color:#23A6F0;
}
.custom-sm-darkgray-text{
    font-weight:bold;
    color:#252B42;
}
.custom-top-margin{
    margin-top:150px;
}
/* ----------- Media Queries ------------- */

/* Mobile Devices */

@media only screen and (max-width:577px){
    .custom-header-img{
        width:312px;
        height:260px;
    }
    .custom-header-text{
        padding: 0;  
    }
   
}