.custom-header-background{
    background-color: #264653;
}
.custom-button{
    color: white;
    background-color:#E76F51;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
}

/* ----------- Media Queries ------------- */

/* Mobile Devices */

@media only screen and (max-width:577px){
    .{
        height:761 px;
    }
    .custom-header-img{
        width:312px;
        height:260px;
    }
    .custom-header-text{
        padding: 0;
        
    }
   
}